* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.online_button {
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
}
.carousel-item img{
  height: 88vh!important;

}
.medu_card{
  border-radius: 30px;
}
.medu_card_body{
  border-radius:0 0 30px 30px;

}
